<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <title>$title$</title>
  <style type="text/css">
    body {
      font-family: "Verdana", sans-serif;
    }

    a {
      color: blue;  
    }

    #content {
      max-width: 600px;
      margin: 0 auto;
    }
    code{
      padding: 3px;
      background-color: #002b36;
      color: #2aa198;
      white-space: pre;
      font-weight: bolder;
      border-radius: 2px;
    }
  </style>
</head>
<body>
  <div id="content">
  $body$
  </div>
</body>
</html>
